*.v.bak
*.asm.rpt
*.done
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.qws
*.sof
*.sta.rpt
*.ams.*
*.cmp.*
*.db_info
*.fit.qmsg
*.hif
*.map.*
*.hdb
*.cdb
*.sta.qmsg
*.rdb
*.tdb
*.ddb
*.ammdb
*.dat
*.qmsg
*.rcfdb
*.fit.*
*.sdo
*.svo 
*.rpt 
*.tmw_info
*.tdf
*.sci
*.flock
*.hsd
*.kpt
*.info
*.smart_action.txt
*.syn_hier_info
*.ipinfo
!*.qsf
!*.qpf
*.bak
DE0_TOP/simulation/modelsim/DE0_TOP.sft
DE0_TOP/simulation/modelsim/DE0_TOP_modelsim.xrf
DE0_TOP/DE0_TOP.sta.summary
DE0_TOP/db/DE0_TOP.sgate_sm.rvd
DE0_TOP/db/DE0_TOP.sgate.rvd
DE0_TOP/db/DE0_TOP.map_bb.logdb
DE0_TOP/db/DE0_TOP.lpc.txt
DE0_TOP/db/DE0_TOP.hier_info
DE0_TOP/db/DE0_TOP.cbx.xml
DE0_TOP/DE0_TOP.cdf
